@model IEnumerable<HospitalManagementSystem.Data.Appointment>

@{
    ViewData["Title"] = "Hồ Sơ Bệnh Nhân";
}

<style>
    .navbar {
        background-color: #0c2340;
        padding: 10px 0;
    }

        .navbar .navbar-brand img {
            width: 100px;
            height: auto;
            border-radius: 15px;
        }

    .navbar-nav {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 20px;
    }

        .navbar-nav .nav-link {
            color: #fff;
            text-decoration: none;
            font-size: 16px;
        }

            .navbar-nav .nav-link:hover {
                text-decoration: underline;
            }

    .footer {
        background-color: #0c2340;
        color: #fff;
        display: flex;
        justify-content: space-around;
        padding: 20px;
        text-align: center;
    }

        .footer h3 {
            margin-bottom: 10px;
        }

        .footer p {
            margin: 5px 0;
        }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">
            <img src="~/images/bv4.jpg" alt="Logo" class="logo" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Introduce" asp-action="GioiThieu">Giới thiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Doctor" asp-action="Index">Chuyên khoa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="PatientsKhach" asp-action="Create">Tạo hồ sơ khám bệnh</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Medication" asp-action="Pharmacity">Đặt thuốc online</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">Tin tức</a></li>


            </ul>
        </div>
    </div>
</nav>
<br>
<br>
<h1>Hồ Sơ Bệnh Nhân</h1>

<div class="d-flex justify-content-end mb-3">
    <a asp-action="Create" class="btn btn-primary">Tạo mới Hồ Sơ Bệnh Nhân</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Mã Lịch hẹn")
            </th>
            <th>
                @Html.DisplayName("Tên Bệnh nhân")
            </th>
            <th>
                @Html.DisplayName("Tên Bác sĩ")
            </th>
            <th>
                @Html.DisplayName("Phí")
            </th>
            <th>
                @Html.DisplayName("Ghi chú")
            </th>
            <th>
                @Html.DisplayName("Ngày")
            </th>
            <th>
                @Html.DisplayName("Thời gian")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointmentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeSlot.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeSlot.Time)
                </td>
                <td>
                    <button type="button" class="btn btn-primary" style="border-radius: 50px;" onclick="location.href='@Url.Action("Details", new { id = item.AppointmentId })'">Details</button>

                </td>
            </tr>
        }
    </tbody>
</table>
<br>
<br>
<footer class="footer">
    <div>
        <h3>TP. Hà Nội</h3>
        <p><strong>Địa chỉ:</strong> 458/3F Nguyễn Hữu Thọ, P. Tân Hưng, Quận 7, TP.HCM</p>
        <p><strong>Số điện thoại:</strong> 19002039</p>
    </div>
    <div>
        <h3>TP. Hồ Chí Minh</h3>
        <p><strong>Địa chỉ:</strong> 300A – Nguyễn Tất Thành, Phường 13, Quận 4, TP. Hồ Chí Minh, Việt Nam</p>
        <p><strong>Số điện thoại:</strong> 1900 2039</p>
    </div>
</footer>
